*{
    /* margin: 0; */
    /* padding: 0; */
}
h2{
    margin-top: 0px  ;
}
.main{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
button{
    background-color: aqua;
    padding: 8px;
    /* font-weight: 600; */
    font-size: 16px;
    border-radius: 16px;
}
.flip{
    /* border: 1px solid black; */
    /* justify-items: center; */
}
form{
    
}
input{
    background-color: rgb(117, 244, 244);
    padding: 10px;
    width: 270px;
    border-radius: 16px;
    
}
::placeholder{
    font-weight: 600;
    font-size: 16px;

}
.ama_png{
    margin-top: 40px;
}
